<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div class="form-group" >
      <label for="name">Name</label>
      <input [(ngModel)]="userSettings.name" #nameField="ngModel"
        [class.field-error]="form.submitted && nameField.invalid"
        id="name" class="form-control" name="name"
        type="text" placeholder="Name" required >
        <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">Enter a name</div>
    </div>

    <button class="btn btn-primary" type="button" [(ngModel)]="toggle" name="toggle" btnCheckbox btnCheckboxTrue="On" btnCheckboxFalse="Off">
      {{toggle}}
    </button>

    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="text" placeholder="Start Date" class="form-control" [(ngModel)]="startDate" name="startDate" id="startDate" bsDatepicker>
    </div>

    <div class="form-group">
      <label for="startTime">StartTime</label>
      <timepicker [(ngModel)]="startTime" name="startTime" id="startTime"></timepicker>
    </div>

    Start Time: {{ startTime }}

    <div class="form-check form-group">
      <input [(ngModel)]="userSettings.emailOffers" id="emailOffers" class="form-check-input" name="emailOffers" type="checkbox" required>
      <label for="emailOffers" class="form-check-label">Email Special Offers</label>
    </div>

    <p>User Interface Style</p>

    <div class="form-group">
      <div class="btn-group">
        <label [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
          btnRadio="Light" tabindex="0" role="button" class="btn btn-primary">Light</label>
        <label [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
          btnRadio="Medium" tabindex="0" role="button" class="btn btn-primary">Medium</label>
        <label [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle"
          btnRadio="Dark" tabindex="0" role="button" class="btn btn-primary">Dark</label>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Subscription Type</label>
      <select [(ngModel)]="userSettings.subscriptionType" class="form-control" name="subscriptonType" id="exampleFormControlSelect1">
        <option *ngFor="let type of subscriptionTypes | async">{{type}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea [(ngModel)]="userSettings.notes" name="notes" id="notes" class="form-control" rows="3"></textarea>
    </div>

    <div [hidden]="!postError" class="alert alert-danger">
      {{postErrorMessage}}
    </div>
    <button type="submit" class="btn btn-primary">Send</button>

  </form>
</div>
